* {
    box-sizing: border-box;
}

body {
    font-family: neo-sans, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0.5em 0;
}

p {
    margin: 0 0 1.5em 0;
}

button {
    font-family: neo-sans, sans-serif;
}


.App {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}


.row {
    display: flex;
    margin-bottom: 0.5em;
}

.column {
    display: flex;
    flex-direction: column;
}

.App-header,
footer {
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 30px rgb(0 0 0 / 12%);
    z-index: 50;
    padding: 12px;
}


.App-header {
    justify-content: center;
}



footer {
    height: 120px;
    justify-content: center;
}

.App-logo {
    max-width: 150px;

}

button {
    border: none;
    background-color: transparent;
    filter: none;
    transition: filter 0.5s;
}

button.filter {
    filter: none;
    transition: filter 0.5s;
}

button.filter:hover {
    filter: brightness(75%);
}

button.invisible {
    display: none;
}



button:disabled {
    pointer-events: none;
}

.filter-icon {
    padding: 0 12px;
}

.active {
    opacity: 0.7;
}

@media only screen and (max-width: 840px) {
    .top-search {
        display: none;
    }
}

@media only screen and (min-width: 840px) {
    .App-header {
        padding: 30px;
        justify-content: flex-start;
    }

    .App-logo {
        width: 300px;
        display: flex;
        position: absolute;
        margin: 0 5%;
    }

    .top-search {
        margin: 0 auto;
        width: 40%;
        max-width: 400px;
    }

    .top-search form {
        width: 100%;
        max-width: 540px;
    }
    
    footer {
        display: none;
    }
}


.main-content {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-areas: "post-listing";
    overflow-y: auto;
    overflow-x: hidden;
}

.main-content a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    display: inline-block;
}

@media only screen and (min-width: 840px) {
    .main-content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "post-listing post-listing category-listing";
    }
}
