path.up, 
path.down {
    stroke: #7d7d7d;
    fill: transparent;
    width: 24px;
    transition: fill 0.5s, stroke 0.5s;
}

path.up.active {
    fill: #46BA23;
    stroke: #46BA23;
}

svg:hover .up {
    stroke: #46BA23;
}
svg:hover .down {
    stroke: #ff4500;
}

path.down.active {
    fill: #ff4500;
    stroke: #ff4500;
}

/* #upBtn:hover {
    color: #46BA23;
} */